= semantic_form_for @tasklist, :url => collection_url do |form|
  = form.inputs do
    = form.input :project, :label => 'Project'
    = form.input :name, :label => 'Name'
    = form.input :details, :label => 'Details'
  = form.buttons
