= semantic_form_for @tasklist, :url => params[:action] == 'new' ? collection_url : resource_url(resource) do |form|
  = form.inputs do
    = form.input :project, :label => 'Project'
    = form.input :name, :label => 'Name'
    = form.input :details, :label => 'Details'
  = form.buttons
