%h1= "Listing Tasklists for #{parent.name}"

%table
  %tr
    %th Name
    %th Details
    %th People in Tasklist
    %th
    %th
    %th
    %th

  - @tasklists.each do |tasklist|
    %tr
      %td= tasklist.name
      %td= tasklist.details
      %td
        - if tasklist.assigned_users.size > 0
          %ul
            - tasklist.assigned_users.each do |user|
              %li= user
        - else
          No users assigned
      %td= link_to "(Tasks)", tasklist_tasks_url(tasklist)
      %td= link_to 'Show', resource_url(tasklist)
      %td= link_to 'Edit', edit_resource_url(tasklist)
      %td= link_to 'Destroy', resource_url(tasklist), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Tasklist', new_resource_url
= link_to "Back to Project: #{parent.name}", parent_url
= link_to "Back to Projects", projects_url