%p#notice= notice

%p
  %b Project:
  = @tasklist.project
%p
  %b Name:
  = @tasklist.name
%p
  %b Details:
  = @tasklist.details
%p
  %b People:
  - if @tasklist.assigned_users.size > 0
    %ul
      - @tasklist.assigned_users.each do |user|
        %li= user
  - else
    No users assigned

%hr/  

%p
  %b= link_to "Tasks", tasklist_tasks_url(@tasklist)
  %br/
  %ul
    - @tasklist.tasks.each do |task|
      %li= link_to "#{task.body}", tasklist_task_url(task)

= link_to 'Edit', edit_resource_url(@tasklist)
\|
= link_to 'Back', collection_url
