%p#notice= notice

%p
  %b Project:
  = @tasklist.project
%p
  %b Name:
  = @tasklist.name
%p
  %b Details:
  = @tasklist.details

= link_to 'Edit', edit_resource_url(@tasklist)
\|
= link_to 'Back', collection_url
