%h1= "Listing Tasks for #{parent.name}"

%table
  %tr
    %th Body
    %th User
    %th Done
    %th Deadline
    %th Started
    %th Completed on
    %th Assigned Users
    %th
    %th
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.body
      %td= task.user
      %td= task.done
      %td= task.deadline
      %td= task.started ? task.started.nice_datetime : "Not started."
      %td= task.completed_on ? task.completed_on.nice_datetime : "Not completed."
      %td
        - if task.assigned_users.size > 0
          %ul
            - task.assigned_users.each do |user|
              %li= user
        - else
          No users assigned

      - if task.started
        %td= link_to 'Unstart!', unstart_tasklist_task_url(task.tasklist, task), :method => :put   
      - else
        %td= link_to 'Start!', start_tasklist_task_url(task.tasklist, task), :method => :put 

      - if task.done
        %td= link_to 'Mark as Undone!', undone_tasklist_task_url(task.tasklist, task), :method => :put   
      - else
        %td= link_to 'Mark as Done!', done_tasklist_task_url(task.tasklist, task), :method => :put 
    
      %td= link_to 'Show', resource_url(task)
      %td= link_to 'Edit', edit_resource_url(task)
      %td= link_to 'Destroy', resource_url(task), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Task', new_resource_url
= link_to "Back to Tasklist: #{parent.name}", project_tasklist_url(parent.project, parent)