#project_container
  #project_nav
    - @projects.each do |project|
      .project_box
        %h2.name= project.name
        %h4.tasks_count= 12
        %h4.days_count= 15
  #project_detail
    - @projects[0].tasklists.each do |tasklist|
    
      %h3.tasklist= tasklist.name
      - tasklist.tasks.each do |task|
        %p= task.body
  %span.clear &nbsp;