%h1= @project.name
%div
  %br
  - @project.tasklists.each do |tasklist|
    .tasklist
      %h4.tasklist_name= tasklist.name
      - tasklist.tasks.each do |task|
        %p= task.body
%div 
  %h2 Team
  
        
= link_to "Back to Project Index", projects_path
= link_to "Manage Team" 