= semantic_form_for @timeline do |form|
  = form.inputs do
    = form.input :user, :label => 'User'
    = form.input :message, :label => 'Message'
    = form.input :link, :label => 'Link'
  = form.buttons
